html, body {
                width: 100%;
                height: 100%;
            }

            body {
                background-color: #ffffff;
                margin: 0;
                overflow: hidden;
                font-family: arial;
            }

            #blocker {

                position: absolute;
                display: none;

                width: 100%;
                height: 100%;

                background-color: rgba(0,0,0,0.5);

            }

            #gameoverdialog{

               display:none;
               position: absolute;

               width: 100%;
               height: 100%;

               background-color: rgba(0,0,0,0.5);

            }

            #instructions {

                width: 100%;
                height: 100%;

                display: -webkit-box;
                display: -moz-box;
                display: box;

                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;

                -webkit-box-pack: center;
                -moz-box-pack: center;
                box-pack: center;

                -webkit-box-align: center;
                -moz-box-align: center;
                box-align: center;

                color: #ffffff;
                text-align: center;

                cursor: pointer;

            }

            #result_details{

               width: 100%;
               height: 100%;

               display: -webkit-box;
               display: -moz-box;
               display: box;

               -webkit-box-orient: horizontal;
               -moz-box-orient: horizontal;
               box-orient: horizontal;

               -webkit-box-pack: center;
               -moz-box-pack: center;
               box-pack: center;

               -webkit-box-align: center;
               -moz-box-align: center;
               box-align: center;

               color: #ffffff;
               text-align: center;

               cursor: pointer;
            }

            .progressplayer[value]::-webkit-progress-bar {
                background-color: #FF0000;
              }
              
              .progressplayer[value]::-webkit-progress-value {
                background-color: lightgreen;
              }
              
              progress[value] {
                /* Reset the default appearance */
                -webkit-appearance: none;
                appearance: none;
                border-radius: 50%;
              }


              .meter { 
                height: 20px;  /* Can be anything */
                position: relative;
                margin: 20px 0 20px 0; /* Just for demo spacing */
                background: #555;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                border-radius: 25px;
                padding: 10px;
                -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
                -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
                box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
            }
            .meter > span {
                display: block;
                height: 100%;
                   -webkit-border-top-right-radius: 8px;
                -webkit-border-bottom-right-radius: 8px;
                       -moz-border-radius-topright: 8px;
                    -moz-border-radius-bottomright: 8px;
                           border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    -webkit-border-top-left-radius: 20px;
                 -webkit-border-bottom-left-radius: 20px;
                        -moz-border-radius-topleft: 20px;
                     -moz-border-radius-bottomleft: 20px;
                            border-top-left-radius: 20px;
                         border-bottom-left-radius: 20px;
                background-color: rgb(43,194,83);
                background-image: -webkit-gradient(
                  linear,
                  left bottom,
                  left top,
                  color-stop(0, rgb(43,194,83)),
                  color-stop(1, rgb(84,240,84))
                 );
                background-image: -moz-linear-gradient(
                  center bottom,
                  rgb(43,194,83) 37%,
                  rgb(84,240,84) 69%
                 );
                -webkit-box-shadow: 
                  inset 0 2px 9px  rgba(255,255,255,0.3),
                  inset 0 -2px 6px rgba(0,0,0,0.4);
                -moz-box-shadow: 
                  inset 0 2px 9px  rgba(255,255,255,0.3),
                  inset 0 -2px 6px rgba(0,0,0,0.4);
                box-shadow: 
                  inset 0 2px 9px  rgba(255,255,255,0.3),
                  inset 0 -2px 6px rgba(0,0,0,0.4);
                position: relative;
                overflow: hidden;
            }
            .meter > span:after, .animate > span > span {
                content: "";
                position: absolute;
                top: 0; left: 0; bottom: 0; right: 0;
                background-image: 
                   -webkit-gradient(linear, 0 0, 100% 100%, 
                      color-stop(.25, rgba(255, 255, 255, .2)), 
                      color-stop(.25, transparent), color-stop(.5, transparent), 
                      color-stop(.5, rgba(255, 255, 255, .2)), 
                      color-stop(.75, rgba(255, 255, 255, .2)), 
                      color-stop(.75, transparent), to(transparent)
                   );
                background-image: 
                    -moz-linear-gradient(
                      -45deg, 
                      rgba(255, 255, 255, .2) 25%, 
                      transparent 25%, 
                      transparent 50%, 
                      rgba(255, 255, 255, .2) 50%, 
                      rgba(255, 255, 255, .2) 75%, 
                      transparent 75%, 
                      transparent
                   );
                z-index: 1;
                -webkit-background-size: 50px 50px;
                -moz-background-size: 50px 50px;
                -webkit-animation: move 2s linear infinite;
                   -webkit-border-top-right-radius: 8px;
                -webkit-border-bottom-right-radius: 8px;
                       -moz-border-radius-topright: 8px;
                    -moz-border-radius-bottomright: 8px;
                           border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    -webkit-border-top-left-radius: 20px;
                 -webkit-border-bottom-left-radius: 20px;
                        -moz-border-radius-topleft: 20px;
                     -moz-border-radius-bottomleft: 20px;
                            border-top-left-radius: 20px;
                         border-bottom-left-radius: 20px;
                overflow: hidden;
            }
            
            .animate > span:after {
                display: none;
            }
            
            @-webkit-keyframes move {
                0% {
                   background-position: 0 0;
                }
                100% {
                   background-position: 50px 50px;
                }
            }

            @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
  

            span.step {
                background: #cccccc;
                border-radius: 0.8em;
                -moz-border-radius: 0.8em;
                -webkit-border-radius: 0.8em;
                color: #ffffff;
                display: inline-block;
                font-weight: bold;
                line-height: 1.6em;
                margin-right: 5px;
                text-align: center;
                width: 1.6em; 
                color: #fcd000;
                font-size: 1.5rem;
                font-weight: bold;
                position: absolute;
                --size: 32px;
                left: calc(-1 * var(--size) - 10px);
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
                top: 0;
                transform: rotate(-10deg);
                background: black;
                border-radius: 50%;
                text-align: center;
                box-shadow: 1px 1px 0 #999;
              }

              .preloader {
               align-items: center;
               background: rgb(23, 22, 22);
               display: flex;
               height: 100vh;
               justify-content: center;
               left: 0;
               position: fixed;
               top: 0;
               transition: opacity 0.3s linear;
               width: 100%;
               z-index: 9999;
             }